@import '../../assets/mixins';
@import '../../assets/variables';

.list{
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 30px 24px;
    margin: 16px 0 70px 0;
    list-style: none;

    grid-template-columns: repeat(6,1fr);

    @include for-narrow-layout {
        margin: 16px 0 40px 0;
        grid-template-columns: repeat(2, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns: repeat(4,1fr);
    }
}