<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ul class="list">
  <li *ngFor="let item of $products()">
    <section
      class="preview"
      (click)="selectItem(item)"
      [routerLink]="['/details']"
    >
      <div class="details">
        <img class="image" src="/assets/chocolate.jpeg" alt="chocoate" />
        <div class="top">
          <p>{{ item.brand }}</p>
          <p>{{ item.name }}</p>
        </div>
        <div class="price-container">
          <p>Durchschnittlicher Preis pro 100g</p>
          <p class="price">{{ item.pricePer100g }} €</p>
        </div>

        <div class="price-container">
          <p>Günstigster Preis pro 100g</p>
          <p class="price">{{ item.cheapestPricePer100g }}&ngsp; €</p>
        </div>
        <div style="display: inline">
          <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{
            item.link
          }}</a>
        </div>
        <br />
      </div>
    </section>
  </li>
</ul>
