<section class="preview">
    <section class="img-carousel">
       
        <div class="details">
            <img class="image" src="/assets/chocolate.jpeg" alt="chocoate">
            <div class="top">
                <p>{{chocolate.brand}}</p>
                <p>{{chocolate.name}}</p>
            </div >
            <div class="left">
            <p>{{chocolate.link}}</p>
            <p>{{chocolate.cheapestPricePer100g}}</p>
            <p>{{chocolate.pricePer100g}}</p>
            </div>
        </div>
    </section>


</section>
