.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 48px;
    font-weight: bold;
  }
  .logo img{
    height: 60px;
    width:60px;
    padding-left: 5rem;
    padding-top: 1rem;

  }