@import '../../assets/styles/variables';
.details-container{
    display:grid;
    grid-template-columns: 1fr;
    padding-left: 5rem;
    padding-right: 5rem;
    table {
        width: 5%;
      }
    .h1{
    font-size:$heading-details-page ;
    }
     .mat-header-cell {

        padding: 0 16px 0 16px  !important   }
}