<div class="details-container">
  <section class="title">
    <h1>{{ product[0].brand }} {{ product[0].name }}</h1>
    <div class="details-table">
      <table mat-table [dataSource]="prices" class="mat-elevation-z8">
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Preis (€)</th>
          <td mat-header-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>
        <ng-container matColumnDef="cheapest">
          <th mat-header-cell *matHeaderCellDef>Günstigster Preis (€)</th>
          <td mat-header-cell *matCellDef="let element">
            <img
              *ngIf="element.price <= cheapestPrice"
              src="/assets/cheapestprice.jpg"
              alt=""
              width="50"
              height="50"
            />
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Menge (€)</th>
          <td mat-header-cell *matCellDef="let element">
            {{ element.amount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="link">
          <th mat-header-cell *matHeaderCellDef>Link</th>
          <td mat-header-cell *matCellDef="let element">
            <a
              href="{{ element.link }}"
              target="_blank"
              rel="noopener noreferrer"
              >{{ element.link }}</a
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </section>
</div>
