@import '../../assets/styles/variables';
.details-container{
  display:grid;
  grid-template-columns: 1fr;
  padding: 0 5rem;
    .title-container{
      display: flex;
      justify-content:flex-start;
      align-items: center;
      width: 100%;
      .icon{
        padding-left: 1rem;
      }
    }
   
    table {
        width: 5%;
      }
    .page-title{
    font-size:$heading-details-page ;
    }
     .mat-header-cell {
        padding: 0 16px 0 16px  !important   }
}